@import 'quasar.variables';
html,
body {
  height: 100%;
}
body {
  background-color: $primary;
  height: 100%;
}

.asd {
  background-color: $secondary;
}

.zxc {
  background-color: $primary;
}

.custom-drawer {
  border-radius: 103px;
}
